tr{
    background-color: grey;
    color: black;
    text-align: center;
}
dt{
    font-weight: bold;
    background-color: gray;
    color: black;
}
.logo{
    background-color: rgb(212, 197, 197);
    color: purple;
}